.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.295);
    height: 8rem;
    right: 0;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

.dropdown-content::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 16px;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}

.dropdown-content a {
    color: black !important;
    text-decoration: none;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a:hover {
    background-color: #b4b4b44b !important;
    border-radius: 0 !important;
}

// notification

.dropdown {
    position: relative;
}

.bell-a:hover .dropdown-content-a {
    display: block !important;
}

.content-a {
    display: flex;
    justify-content: space-between;
}

.dropdown-content-a {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 300px;
    max-height: 300px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.dropdown-content-a::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 16px;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}

.dropdown-content-a i {
    cursor: pointer;
}

.dropdown-content-a i:hover {
    color: red !important;
}

.content-a {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.notification-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 0px;
    color: #fff;
    right: 15px;
    width: 18px;
    height: 18px;
    background-color: #46a3fb;
    border-radius: 50%;
}
