.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.295);
    height: 8rem;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

.dropdown-content a {
    color: black !important;
    text-decoration: none;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a:hover {
    background-color: #b4b4b44b !important;
    border-radius: 0 !important;
}
