:root {
  --font-roboto: "Roboto";
  --font-poppins: "Poppins";
  --color-linear: linear-gradient(#7d85ff 0%, #ff7b7b 100%);
  --color-red: #ff8a8a;
  --color-lightGray: #e2e2e2;
  --color-gray: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
}

a {
  text-decoration: none;
  color: black;
}

/* Nav Section*/

nav {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1em 1em;
}

nav div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

nav div svg {
  width: 1em;
}

nav div h1 {
  font-size: 1rem;
}

/*Nav END*/

/*Nav Tablet START*/

@media (min-width: 1200px) {
  nav {
    gap: 4rem;
  }

  nav div {
    padding: 1em;
  }

  nav div:nth-child(2) {
    margin-right: 2rem;
  }
}

/*Nav Tablet END*/

/*Brand && categories START*/

.brand {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.brand h1 {
  color: var(--color-red);
  font-weight: 900;
  margin: 1rem 0;
}

.nav-categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.nav-categories h3 {
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

.nav-categories a {
  position: relative;
}

.nav-categories a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  background-color: #624aff;
  transition: 0.3s;
}

.nav-categories a:hover::after {
  width: 100%;
}

.nav-categories h3:hover {
  color: #624aff;
}

@media (min-width: 900px) {
  .nav-categories {
    gap: 4rem;
  }
}

/*Brand && categories END*/

/* profile START */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-poppins);
}

.profile input {
  padding: 0.3rem;
  border: solid 1px;
  border-radius: 0.5rem;
  height: 1.5rem;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  max-width: 10rem;
  margin: 1rem;
}

.profile h1 {
  font-weight: 400;
}

.profile p {
  font-size: 1rem;
  font-weight: 300;
  max-width: 40rem;
  text-align: center;
  margin: 1rem;
}

.profile-grid form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-left: 10rem;
}

.profile-grid h3 {
  font-weight: 400;
}

.profile-grid h3 {
  margin: 0.4rem 0;
}

/*Bottom section START*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1 {
  margin: 1rem 0;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.categories h2 {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  gap: 1rem;
}

.categories a {
  position: relative;
}

.categories a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  background-color: #624aff;
  transition: 0.3s;
}

.categories a:hover::after {
  width: 100%;
}

.categories h2:hover {
  color: #624aff;
}

@media (min-width: 1000px) {
  .categories {
    gap: 3rem;
  }
}

.edit textarea {
  height: 4rem;
  width: 25rem;
  resize: none;
  margin: auto;
  background-color: rgba(248, 248, 248);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.edit {
  display: flex;
  text-align: center;
}

.edit-container button {
  width: 133px;
  height: 44px;
  border-radius: 4px;
  background: #ff8d8d;
  border: none;

  transform: translate(50%);
}

.edit {
  display: flex;
  justify-content: center;
}

.edit-container {
  display: flex;
  align-items: center;
}

textarea {
  flex: 1;
  margin: auto;
  transform: translate(4rem);
}

/*Role Start*/
.role {
  display: flex;
  align-items: left;
  background-color: white;
  width: 12rem;
  padding: 1rem;
  border-radius: 15px;
  margin-right: auto;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.37);
}

.role div {
  align-items: baseline;
}

.role img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.role-text {
  flex-direction: column;
  text-align: right;
  margin: 0;
  padding: 0;
}

.role-text h1 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.role-text h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*add peodsuct START*/

.main-6 {
  display: grid;
  grid-template-columns: 20rem 1fr;
  background-color: white;
  padding: 3rem;
  max-width: 50rem;
  border-radius: 20px;
  margin-bottom: 10rem;
  margin-top: 3rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.527);
}

.main-6 input {
  border: solid 1px;
  border-radius: 6px;
  padding: 4px;
  background-color: #f8f8f8;
}

.main-6 img {
  width: 100%;
  height: 100%;
  width: 16rem;
  height: 16rem;
  margin: auto;
}

.main-6 h1 {
  font-size: 1.3rem;
  text-align: left;
}

.main-4 {
  margin-bottom: 1rem;
}

.namePrice {
  display: flex;
  gap: 1rem;
}

.name-4 h1,
.price h1 {
  margin: 10px 0;
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.price-4 h1 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.price-4 {
  margin-top: auto;
}

.namePrice input {
  width: 14rem;
  height: 2rem;
}

.main-5 {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.description-4 textarea {
  width: 100%;
  max-width: 30rem;
  max-height: 5rem;
  resize: none;
  margin-top: 1rem;
  border-radius: 10px;
  border: solid 1px;
  background-color: #f8f8f8;
  padding: 5px;
  transform: translate(0);
}

.description-4 textarea:focus {
  outline: none;
}

.description-4 button {
  height: 3rem;
  width: 100%;
  max-width: 10rem;
  margin-top: 1rem;
  max-width: 179px;
  max-height: 50px;
  border-radius: 4px;
  background: #ff8d8d;
  border: none;
  font-size: 1rem;
}

.description-4 h1 {
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.catergory-4 h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .category-btn {
  background-color: #3e8e41;
}

.category-btn {
  height: 3rem;
  width: 34rem;
  max-width: 120.98px;
  max-height: 35.5px;
  border: none;
  border-radius: 8px;
  background: #887bff;
}

@media (max-width: 650px) {
  .main-6 {
    display: block;
  }

  .main-6 img {
  }

  .namePrice input {
    width: 10rem;
  }
}

/*phone edit START*/

@media (max-width: 650px) {
  .edit-container {
    flex-direction: column;
  }

  .edit-container textarea {
    width: 90%;
    transform: translate(0);
  }

  .edit-container button {
    margin: 1rem;
    transform: translate(0);
  }
}

/*phone edit END*/
