<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@100;300;400;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="Main.css" />
  </head>
  <body>
    <!--Nav START-->
    <nav>
      <a href="#">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              id="Icon_material-person"
              data-name="Icon material-person"
              d="M18,18a6,6,0,1,0-6-6A6,6,0,0,0,18,18Zm0,3c-4.005,0-12,2.01-12,6v3H30V27C30,23.01,22.005,21,18,21Z"
              transform="translate(-6 -6)"
            />
          </svg>
          <h1>Profile</h1>
        </div></a
      >

      <a href="#">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="29.239"
            height="27.007"
            viewBox="0 0 29.239 27.007"
          >
            <g
              id="Icon_ionic-ios-cart"
              data-name="Icon ionic-ios-cart"
              transform="translate(-3.382 -4.493)"
            >
              <path
                id="Path_3"
                data-name="Path 3"
                d="M12.938,29.813a1.688,1.688,0,1,1-1.687-1.688,1.688,1.688,0,0,1,1.688,1.688Z"
              />
              <path
                id="Path_4"
                data-name="Path 4"
                d="M28.723,29.813a1.687,1.687,0,1,1-1.687-1.688,1.687,1.687,0,0,1,1.687,1.688Z"
              />
              <path
                id="Path_5"
                data-name="Path 5"
                d="M32.611,9.3a.413.413,0,0,0-.366-.3L9.345,6.785a.7.7,0,0,1-.527-.33,7.16,7.16,0,0,0-.858-1.308c-.541-.661-1.561-.64-3.431-.654a1.024,1.024,0,0,0-1.146.991,1,1,0,0,0,1.1.991,9.342,9.342,0,0,1,1.828.134c.33.1.6.64.7,1.111a.026.026,0,0,0,.007.021c.014.084.141.717.141.724L9.963,23.344a5.468,5.468,0,0,0,1.02,2.51A2.806,2.806,0,0,0,13.3,26.993H29.932a1,1,0,0,0,1.013-.942.98.98,0,0,0-.984-1.027H13.282a.817.817,0,0,1-.584-.2A3.155,3.155,0,0,1,11.89,23l-.3-1.666a.039.039,0,0,1,.028-.042l19.526-3.3a.411.411,0,0,0,.345-.366l1.125-8.142A.4.4,0,0,0,32.611,9.3Z"
              />
            </g>
          </svg>
          <h1>Cart</h1>
        </div></a
      >
    </nav>
    <!--Nav END-->

    <!--LOGO NAME-->
    <div class="brand">
      <h1>TYPEX</h1>
    </div>

    <!--logo name END-->

    <!--categories START-->
    <div class="nav-categories">
      <a href="#"><h3>HOME</h3></a>
      <a href="#"><h3>STORE</h3></a>
      <a href="#"><h3>IPHONE</h3></a>
      <a href="#"><h3>IPAD</h3></a>
      <a href="#"><h3>MONITOR</h3></a>
    </div>
    <!--categories END-->

    <div class="profile">
      <img src="./images/unnamed.jpg" alt="" />
      <h1>NEPTUNE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente
        at minus dolores quaerat perferendis?
      </p>
    </div>

    <!--Profile END-->

    <div class="main">
      <div class="title">
        <h1>STORE PRODUCTS</h1>
      </div>
      <div class="categories">
        <a href="#"><h2>ALL</h2></a>
        <a href="#"><h2>IPHONES</h2></a>
        <a href="#"><h2>IPADS</h2></a>
        <a href="#"><h2>SAMSUNG</h2></a>
      </div>
      <div class="search">
        <input type="text" placeholder="Search" />
      </div>

      <div class="items">
        <a href="#">
          <div class="item">
            <img src="./images/MAIN.png" alt="" />
            <div class="line"></div>
            <div class="item-text">
              <h1>Apple mac book</h1>
              <div>
                <h2>$499</h2>
                <h2>$502</h2>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item">
            <img src="./images/MAIN.png" alt="" />
            <div class="line"></div>
            <div class="item-text">
              <h1>Apple mac book</h1>
              <div>
                <h2>$499</h2>
                <h2>$502</h2>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item">
            <img src="./images/MAIN.png" alt="" />
            <div class="line"></div>
            <div class="item-text">
              <h1>Apple mac book</h1>
              <div>
                <h2>$499</h2>
                <h2>$502</h2>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item">
            <img src="./images/MAIN.png" alt="" />
            <div class="line"></div>
            <div class="item-text">
              <h1>Apple mac book</h1>
              <div>
                <h2>$499</h2>
                <h2>$502</h2>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="item">
            <img src="./images/MAIN.png" alt="" />
            <div class="line"></div>
            <div class="item-text">
              <h1>Apple mac book</h1>
              <div>
                <h2>$499</h2>
                <h2>$502</h2>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!--POP UP-->
    </div>
  </body>
</html>
